*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* common style */

.flex{
    display: flex;
}

ul>li{
    text-decoration: none;
    list-style: none;
}

p{
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* BOTTONI e ANIMAZIONI*/

.button_blu{
    background-color: blue;
    color: white;
    border: transparent;
    padding: 8px;
}

.button_white{
    background-color: white;
    color: black;
    border: transparent;
    text-align: center;
    padding: 8px;
}

.button_partner{
    border: solid 0.5px rgb(218, 210, 210);
}

.big_button{
    height: 35px;
    margin-top: 15px;
}

.button_col{
    margin-top: 15px;
    width: 100%;
}

.button_head{
    margin-right: 10px;
    width: 100px;
}

.enterprise:hover{
    filter: opacity(0.5);
    border: 10px solid white;
}


/*Stili Header (navbar) */

.container_navbar_header{
    width: 100%;
    height: 50px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid black;
    font-size: 13px;
    z-index: 500;
    top: 0
}


.container_navbar_header img{
    margin-left: 20px;
}

.container_navbar_header ul>li{
    display: inline-block;
    margin-right: 10px;
}

/*Stili Header (main) */

.container_main_header{
    width: 100%;
    height: 600px;
    background-color: #99c5d0bd
}

.jambo{
    width: 70%;
    height: 550px;
    margin:0 auto;
    margin-top: 100px;
}

#description{
    width: 30%;
    height: 400px;
    padding-top: 30px;
}

#img_jambo{
    width: 60%;
    height: 470px;
    padding-top: 60px;
}

.main_header{
    justify-content: center;
}

.main_header img{
    width: 100%;
}


h1{
    width: 80%;
    font-size: 50px;
    margin-left: 50px;
}

#description{
    font-size: 13px;
}

#description .fa-arrow-down{
    padding-top: 70px;
    font-size: 30px;
}


/* stili main, parte iniziale */


.title_input{
    width: 60%;
    margin: 90px auto;
}

.title_input h3{
   font-size: 25px;
   padding-bottom: 40px;
}

input{
    margin-right: 10px;
}

/* stili main colonne account */

.container_account{
    justify-content: center;
}

.col{
    width: calc(55%/3);
    height: 680px;
    margin: 0 20px;
    border: 1px solid rgb(212, 203, 203);
}

#singolo,#team,#azienda{
    text-align: center;
    border-bottom: 1px solid rgb(212, 203, 203);
    padding: 10px;
}

#user{
    display: grid;
    font-size: 12px;
}

.botton_board_short{
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(212, 203, 203);
}


.description_user{
    padding: 25px 40px;
}

.description_user,h4,h6{
    padding-top: 10px;
}

.description_user,#user,span{
    padding-top: 10px;
}

.punti_salienti{
    margin-top: 60px;
    font-size: 12px;
}
.punti_salienti>span{
    margin-bottom: 10px;
}

.punti_salienti ul li:before{
        content: "\f00c"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: calc( var(--icon-space) * -1 );
        width: var(--icon-space);
        color: blue;
        margin-right: 5px;
}

.punti_salienti  ul{
    margin: 0;
    padding: 0;
    padding-top: 15px;
    }

    .punti_salienti  li{
        padding-top: 10px;
    }

    /* FINE STILI COLONNE */

    /* COLONNA ORIZZONTALE */

    .horizontal_col{
        width: 60%;
        height: 180px;
        border: 1px solid rgb(212, 203, 203);
        margin: 0 auto;
        margin-top: 50px;
    }

    .contact{
        justify-content: space-around;
    }

    h6{
        font-weight: 100;
    }

    #para_col_hor{
        font-size: 12px;
        margin-top: 50px;
    }

    /* PARAGRAFO PARTNER */


    .container_partner{
        width: 60%;
        height: 500px;
        margin: 0 auto;
        margin-top: 60px;
    }

    

    .image_partner{
        width: 40%;
    }

    .image_partner>img{
        width: 100%;
    }

    .info_text{
        width: 40%;
        font-size: 13px;
        padding-left: 40px;
        padding-top: 40px;
    }

    /* STILI DELLE 6 COLONNE DROPBOX BUSINESS */

    .container_business{
        width: 60%;
        height: 600px;
        margin: 0 auto;
    }

    .container_business a{
        font-size: 10px;
    }


    .card{
        width: calc(80%/3);
        height: 500px;
        margin: 0 20px;
    }

    .card img{
        width: 100%;
    }
      
    #title_business{
        margin-bottom: 60px;
    }

    
    /* STILI MEMBRI DROPBOX */

    .container_enterprise{
        width: 100%;
        height: calc(50vw/2);
    }

    .row_enter{
        width: calc(100vw/3);
        height: calc(50vw/2);
        flex-wrap: wrap;
    }

    .enterprise{
        width: calc(100%/2);
        height: calc(100%/2);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .enterprise img{
        width: 50%;
        filter: invert(100%);
    }


    .review{
        width: 40%;
        padding: 80px;
        background-color: rgb(224, 216, 206);
        display: flex;
        overflow-y: auto;
    }

    #designit{
        width: 40%;
    }

    .line_designit{
        color: black;
        width: 80px;
        margin-top: 15px;
    }

    /* BACKGROUND COLOR */

    .oneimg{
        background-color: #82f382;
    }

    .twoimg{
        background-color: #762222;
    }

    .threeimg{
        background-color: #118ece9e;
    }

    .fourimg{
        background-color: #ff0000;
    }

    .fiveimg{
        background-color: #c50202;
    }

    .siximg{
        background-color: #b1cfda;
    }

    .sevenimg{
        background-color: #05056c;
    }

    .eightimg{
        background-color: #f7d709;
    }



    .under_container{
        width: 100%;
        height: 200px;
        background-color: #b1cfda;
        justify-content: center;
        align-items: center;
    }

    #bordeau_title{
        color: rgb(68, 17, 17);
        padding-right: 20pc;
    }

    /* stili faq */

    .container_faq{
        width: 60%;
        margin: 0 auto;
        margin-top: 100px;
    }

    .question{
    margin-top: 60px;
    border-top: 1px solid black;
    padding-top: 50px;
    justify-content: space-between;
}

.fa-chevron-down{
    margin-right: 50px;
}

/* STILI DEL FOOTER (LISTA) */

.container_footer{
    width: 100%;
    margin-top: 100px;
    height: 500px;
    background-color: black;
}


.row_footer{
    width: 80%;
    justify-content: center;
    padding-top: 50px;
    margin: 0 auto;
}


.list{
    width: calc(60%/5);
    height: 300px;
 
}

.list ul{
    color: white;
    font-size: 12px;
    margin-top: 20px;
    padding: 0;
}

.line_footer{
    width: 90px;
}

.list li{
     padding-top: 5px;
    }

#title_list{
    color: white;
    padding-top: 30px;
}

li>a{
    text-decoration: none;
    color: white;
}

.line_footer{
    margin-top: 60px;
}

#lang{
    color: white;
    padding-top: 20px;
    font-size: 10px;
}